mixin project(data)
  .project-card(data-description=data.description)
    a.expand: img.image(src='images/' + data.image)
    .description-overlay
      button.close ×
      .screenshots
        - if (data.screenshots && data.screenshots.length)
          img.screenshot(src='images/' + data.screenshots[0])
      .text
        .title
          h4=data.title
        p=data.description
        .links
          if (data.links)
            each link in data.links
              a.btn(href=link.url, target='_blank')=link.text

section.proyectos.section#proyectos
  .section-title
    img(src="images/icons/icon-1.png")
    h2=projects.title

   .projects
    - each projectData in projects.list
      +project(projectData)
