mixin button(data)
  - var url = '';
  case data.type
    when 'twitter'
      - url += 'http://www.twitter.com/' + data.handle;
    when 'facebook'
      - url += 'http://www.facebook.com/' + data.handle;
    when 'github'
      - url += 'http://www.github.com/' + data.handle;
    when 'linkedin'
      - url += 'https://www.linkedin.com/in/' + data.handle;
    when 'email'
      - url += 'mailto:' + data.address
    default
      - url = '#'

  a(href=url, target='_blank')
    span.flaticon.social(class='flaticon-' + data.type)

mixin avatar(data)
  .avatar
    .picture
      img(src=data.image)
    .content
      h4.name=data.name
      p.role=data.role
      p.bio=data.bio
      .social
        each s in data.social
          +button(s)

section.who-we-are.section.clearfix#quienes-somos
  .section-title
    img(src="images/icons/icon-4.png")
    h2 Quienes Somos

    .clearfix
      p.description.left Desde Mayo de 2012, un grupo de emprendedores de la sociedad civil, la tecnología, la política, artistas, educadores y comunicadores nos unimos para debatir sobre la Democracia en Red y como actualizar nuestro sistema de gobierno.
      p.description.right A partir de aquellas reuniones nos propusimos desarrollar una herramienta que lleve la voz de cada ciudadano a su parlamento correspondiente sin intermediarios y fomentar las condiciones sociales necesarias para su uso.

section.team.section.clearfix#team
  .section-title
    h2 Equipo
  .team-avatars
    - each pal in team
      +avatar(pal)
